@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */

nav li {
    display: block;
}
nav li a {
    display: table;
    height: 90px;
    width: 100px;
    background-color: cadetblue;
}

nav  li a span {
    display: table-cell;
    vertical-align: middle;
    background: black;
    opacity: 0;
    transition: 0.2;
    text-transform: uppercase;
}
nav li a:hover{
    padding-left: 100px;
}
nav li a:hover span { 
    opacity: 1;
}
nav li:nth-child(1) a{background-color:deepskyblue; color:deepskyblue;}
nav li:nth-child(2) a{background-color:cyan; color: #31af7c}
nav li:nth-child(3) a{background-color:navajowhite; color:navajowhite}
nav li:nth-child(4) a{background-color:lightcoral; color: red}


